// PIRMA DALIS

.card {
  height: 800px;
  .card-img {
    height: 800px;
  }
  h5 {
    color: #fff;

    font-family: Roboto;
    font-size: 70px;
  }
  p {
    color: #d5d7d8;

    font-family: Roboto;
    font-size: 26px;
  }
}
