//   TRECIA DALIS

.second-container {
  position: relative;
  background: #f1f8ff;
  h1 {
    color: #404445;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
  }
  h3 {
    color: #5f6b81;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
  }

  .img {
    background: url(./dacb50dbcc9e81ae46213bf6b912d150.jpg);
    background-size: cover;
    width: 343px;
    height: 217px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (min-width: 768px) {
    .img {
      width: 720px;
      height: 416px;
    }
  }
  @media only screen and (min-width: 1400px) {
    .img {
      width: 872px;
      height: 483px;
    }
  }
}
