footer {
  height: 132px;
  background: #eb5757;
  /* display flex */
  display: flex;

  justify-content: center;
  align-items: center;
  p {
    color: #fff;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1rem 6rem;
  }
  /* puslapio mazinimo pakitimai */
  @media screen and (max-width: 600px) {
    p {
      font-size: 12px;
    }
  }
}
