.fourConteiner {
  height: auto;
  background: #f8f8f8;
  padding-top: 5rem;
  padding-bottom: 3rem;
  /* display Flex */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.fourH1 {
  color: #222;
  text-align: center;
  font-family: Raleway;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.fourH3 {
  color: #222;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card {
  /* Display Flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.fourCard {
  padding: 3rem;
  width: 447px;
  height: 375px;
  background: #ffffff;
  /* Display Flex */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.cardH1 {
  color: #222;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.cardH3 {
  color: #222;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cardH4 {
  color: #222;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.cardH5 {
  color: #eb5757;
  text-align: center;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.row {
  /* Display Flex */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
