@import "./nav";
@import "./conteiner";
@import "./footer";
@import "./secondConteiner";
@import "./threeComteiner";
@import "./fourConteiner";
@import "./fiveConteiner";

* {
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  width: auto;
  height: auto;
}
