/* PIRMA DALIS NAVIGACIJA */
nav {
  background: #ffffff;
  height: 120px;
  padding: 0 72px;
  /* display flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* puslapio mazinimo pakitimai */
@media screen and (max-width: 600px) {
  nav {
    height: 50px;
  }
}
.nav__text {
  color: #222;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav__burger {
  position: relative;
}

.nav__burger:hover .meniu {
  display: block;
  color: #222;
}

.burger__meniu {
  padding: 10px;
  color: #222;
  border: 1px solid black;
  border-radius: 3px;
  background: white;
  position: absolute;
  display: none;
}

.meniu__text {
  color: #222;
  text-decoration-line: none;
}

.nav__burger svg {
  display: none;
}

/* puslapio mazinimo pakitimai */
@media screen and (max-width: 900px) {
  .nav__burger svg {
    display: flex;
    bottom: 2rem;
    color: #222;
  }
}
.nav__link {
  /* display flex */
  display: flex;
  gap: 63px;
}

/* puslapio mazinimo pakitimai */
@media screen and (max-width: 900px) {
  .nav__link {
    display: none;
  }
}
.nav__link__text {
  text-decoration: none;
  color: #222;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* puslapio mazinimo pakitimai */
@media screen and (max-width: 1200px) {
  .nav__link__text {
    font-size: 10px;
  }
}
/* ANTRA DALIS PIRMAS PAVEIKSLAS */
.conteiner {
  padding-bottom: 20rem;
  padding-top: 5rem;
  height: auto;
  background-image: url(./img/49d7bbb36792b9a824e3ed67078b2188.jpg);
  /* display flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 43px;
  /* puslapio mazinimo pakitimai */
  /* puslapio mazinimo pakitimai */
}
.conteiner__h1 {
  color: #fff;
  font-family: Raleway;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .conteiner h1 {
    font-size: 40px;
  }
}
.conteiner__h2 {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 600px) {
  .conteiner h2 {
    font-size: 20px;
  }
}

.conteiner__button {
  /* display flex */
  display: flex;
  gap: 21px;
  /* puslapio mazinimo pakitimai */
}
.conteiner__button .button__first {
  background: #eb5757;
  width: 232px;
  height: 52px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}
@media screen and (max-width: 600px) {
  .conteiner__button .button__firt {
    width: 150px;
    height: 40px;
    font-size: 12px;
  }
}

.secondButton {
  background: #fff;
  width: 232px;
  height: 52px;
  color: #eb5757;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

/* puslapio mazinimo pakitimai */
@media screen and (max-width: 600px) {
  .secondButton {
    width: 150px;
    height: 40px;
    font-size: 12px;
  }
}
footer {
  height: 132px;
  background: #eb5757;
  /* display flex */
  display: flex;
  justify-content: center;
  align-items: center;
  /* puslapio mazinimo pakitimai */
}
footer p {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1rem 6rem;
}
@media screen and (max-width: 600px) {
  footer p {
    font-size: 12px;
  }
}

/* TRECIA DALIS ATLIKEJAI */
.secondConteiner {
  height: auto;
  background: #f8f8f8;
  /* display flex */
}

.secondText {
  text-align: center;
  padding-top: 3rem;
  /* display flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.secondH1 {
  color: #222;
  text-align: center;
  font-family: Raleway;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.line {
  background: #eb5757;
  width: 31px;
  height: 5px;
}

.secondH2 {
  color: #222;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.secondImg {
  width: 238px;
  height: 238px;
  border-radius: 100%;
}

.h1Foto {
  color: #222;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h2Text {
  color: #222;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foto {
  /* display flex */
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
}

.flexFoto {
  padding: 2rem 10rem;
  /* display flex */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* KETVIRTA DALIS */
.threeConteiner {
  padding: 3rem 5rem;
  height: auto;
  background: rgba(235, 87, 87, 0.1);
}

.threeH1 {
  color: #222;
  text-align: center;
  font-family: Raleway;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.threeH3 {
  color: #222;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.imgGrid {
  padding: 2rem;
  /* display flex */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.threeImg {
  width: 248px;
  height: 248px;
}

.fourConteiner {
  height: auto;
  background: #f8f8f8;
  padding-top: 5rem;
  padding-bottom: 3rem;
  /* display Flex */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.fourH1 {
  color: #222;
  text-align: center;
  font-family: Raleway;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.fourH3 {
  color: #222;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card {
  /* Display Flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.fourCard {
  padding: 3rem;
  width: 447px;
  height: 375px;
  background: #ffffff;
  /* Display Flex */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.cardH1 {
  color: #222;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cardH3 {
  color: #222;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardH4 {
  color: #222;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

.cardH5 {
  color: #eb5757;
  text-align: center;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.row {
  /* Display Flex */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

/* FIVECONTEINER */
.fiveconteiner {
  height: auto;
  background: rgba(235, 87, 87, 0.1);
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* Display Flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.fiveconteiner h1 {
  color: #222;
  text-align: center;
  font-family: Raleway;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.fiveconteiner h3 {
  color: #222;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fiveconteiner img {
  width: 1175px;
  height: 443px;
}
@media screen and (max-width: 1200px) {
  .fiveconteiner img {
    width: 800px;
    height: 330px;
  }
}
@media screen and (max-width: 800px) {
  .fiveconteiner img {
    width: 400px;
    height: 135px;
  }
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  width: auto;
  height: auto;
}/*# sourceMappingURL=style.css.map */